<!-- Footer -->
<footer class="footer">
    <h1>G&L</h1>
    <h2>{{ site.data.events['wedding'].date }}</h2>
    <p>
        &copy;{% assign thisyear = site.time | date: "%Y" %}
        {% if site.first_published %}
            {% capture diff %}{{ site.first_published | minus:thisyear }}{% endcapture %}
            {% if diff contains '-' %}{{ site.first_published }},{% endif %}
        {% endif %}
        {{ thisyear }}
        {% if site.owner %}
            {{ site.owner }}{% else %}{{ site.title }}
        {% endif %}
    </p>
</footer>
