{% assign pages = site.pages | where: 'lang', page.lang | sort: 'menu-order' %}
<span id="menu-button" class="fixed top-right fas fa-bars" onclick="openNav()"></span>
<div id="menu" class="pure-menu">
    <span class="absolute top-right fas fa-times" onclick="closeNav()"></span>
    <ul class="pure-menu-list">
        {% for page in pages %}
            <li class="pure-menu-item">
                <a href="{{ page.url | prepend: site.baseurl }}" class="pure-menu-link">{{ page.menu | default: page.title }}</a>
            </li>
        {% endfor %}
        {% assign i18n = site.data[page.lang] %}
        <li class="pure-menu-item"><br></li>
        <li class="pure-menu-item">
            <a href="https://zola.com/registry/gillianandlisandro" class="pure-menu-link">{{ i18n.registry }}</a>
        </li>
    </ul>
</div>