---
---

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

$montserrat: "Montserrat", sans-serif;
$primary-color: #e6d9c1;
$background-color: #111d2e;
$accent-color: #e6b253;
$accent-shade: #ffcf75;
$secondary-accent-color: #185099;
$secondary-accent-shade: #0269ee;

$menu-size: 250px;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
* -- BASE STYLES --
*/
body {
    line-height: normal;
    color: $primary-color;
    font-size: 13px;
    background: $background-color;
}

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
    font-family: $montserrat;
    font-weight: 300;
    a {
        color: $secondary-accent-color;
        text-decoration: none;
        &:hover {
            color: $secondary-accent-shade;
        }
    }
}

/*
* -- SIDE MENU --
*/
#menu {
    height: 100%;
    width: $menu-size;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -$menu-size;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        &:hover {
            color: #f1f1f1;
        }
    }
    &.menu-is-open {
        right: 0;
    }
}

/*
* -- CONTENT --
*/
.content-container {
    width: 100%;
    transition: 0.5s;
    &.menu-is-open {
        transform: translateX(-$menu-size);
    }
}

/*
* -- LANDING --
*/
.splash {
    width: 100%;
    height: 100%;
}

.landing-content {
    position: absolute;
    width: 100%;
    top: 100%;
}

/*
* -- TIMELINE --
*/
#timeline .pure-g {
    &:nth-child(even) {
        flex-flow: row-reverse;
        text-align: right;
    }
}

/*
* -- UTILS --
*/
.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.top-right {
    top: 20px;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
    z-index: 1;
}

/*
* -- PHONES --
*/
@media screen and (max-height: 450px) {
    .menu {
        padding-top: 15px;
        a {
            font-size: 18px;
        }
    } 
}