---
---

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

$montserrat: "Montserrat", sans-serif;
$libre-baskerville: "Libre Baskerville", serif;

$primary-color: #e6d9c1;
$dark-background: #111;
$blue-background: #0a111b;
$accent-color: #e6b253;
$accent-shade: #ffcf75;
$secondary-accent-color: #185099;
$secondary-accent-shade: #0269ee;

$timeline-line-thickness: 4px;
$him-color: #548de6;
$her-color: #b462c1;
$them-color: $accent-color;

$menu-size: 250px;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
* -- BASE STYLES --
*/
body {
    line-height: normal;
    color: $primary-color;
    font-size: 0.9em;
    background: $dark-background;
}

html,
button,
input,
select,
textarea,
.pure-g,
.pure-g [class*="pure-u"] {
    font-family: $montserrat;
    font-weight: 400;
    letter-spacing: .1em;
    a {
        color: $secondary-accent-color;
        text-decoration: none;
        &:hover {
            color: $secondary-accent-shade;
        }
    }
}

/*
* -- SIDE MENU --
*/
#menu {
    height: 100%;
    width: $menu-size;
    position: fixed;
    z-index: 20;
    top: 0;
    right: -$menu-size;
    background-color: $dark-background;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    .pure-menu-link {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 2em;
        display: block;
        transition: 0.3s;
        &:hover, &:focus {
            color: $dark-background;
            background-color: $accent-color;
        }
    }
    &.menu-is-open {
        right: 0;
    }
}

/*
* -- CONTENT --
*/
.content-container {
    width: 100%;
    transition: 0.5s;
    &.menu-is-open {
        transform: translateX(-$menu-size);
    }
}
.frame {
    width: 100%;
    margin: 0 auto;
}

/*
* -- LANDING --
*/
.landing-splash {
    display: flex;
    flex-direction: column;

    h1 {
        background: $dark-background;
        margin: 0;
        padding: 10px 70px;
        z-index: 3;
        color: $accent-color;
        font-weight: 100;
        text-align: center;
        width: 100%;
        span {
            display: inline-flex;
        }
    }

    .frame {
        .world {
            svg {
                padding: 0 20px;
                opacity: 0;
            }
        }
    
        .info {
            div {
                padding: 0 40px 3em;
                opacity: 0;
            }
            h2 {
                font-family: $libre-baskerville;
            }
            h3 {
                margin: 0 0 1em;
            }
        }
    }
}

.plane {
    position: absolute;
    font-size: 4em;
    visibility: hidden;
    i {
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

.landing-content {
    position: absolute;
    background: $blue-background;
    width: 100%;
    top: 100%;
    z-index: 1;
}

/*
* -- LIST --
*/
.list-splash {
    position: fixed;
    height: 60%;
    width: 100%;
    background-size: cover;
    background-position: top;
    h1 {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 40%;
        margin: 0;
        font-size: 4em;
        color: $accent-color;
        font-family: $libre-baskerville;
        text-shadow: 0 2px 5px $dark-background;
    }
}

.list-content {
    position: absolute;
    background: $dark-background;
    width: 100%;
    top: 60%;
    z-index: 1;
    #content {
        padding: 30px 0 50px;
        h1 {
            text-align: center;
            margin: 0 25%;
            font-size: 2em;
            font-family: $libre-baskerville;
        }
        .description {
            width: 80%;
            margin: 0 auto;
            font-size: 1.3em;
            text-align: center;
        }
        .grid {
            width: 95%;
            margin: 10px auto 0;
            .question {
                padding: 20px 30px 10px;
                text-align: justify;
                h1 {
                    margin: 0;
                    font-size: 1.2em;
                    text-align: justify;
                }
            }
        }
    }
}

/*
* -- TIMELINE --
*/
#timeline {
    margin: 20px 0 0;
    .pure-g{
        .timeline-img {
            width: 100%;
        }
        h1 {
            font-size: 2.5em;
            margin: 0 0 50px;
            font-weight: 100;
        }
        h2 {
            margin: 0 0 10px;
            font-family: $libre-baskerville;
        }
        .timeline-date {
            position: absolute;
            margin-left: 15px;
            margin-top: 30px;
            flex-direction: row;
            display: flex;
            align-items: center;
            .timeline-icon {
                width: 60px;
                height: 60px;
                background: $accent-color;
                border-radius: 50%;
                border: $timeline-line-thickness $accent-shade;
                border-style: solid;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    max-width: 80%;
                    max-height: 80%;
                }
                &.him {
                    background: $him-color;
                }
                &.her {
                    background: $her-color;
                }
            }
            h1 {
                margin: 0;
                padding-left: 10px;
                text-shadow: 0 2px 3px $dark-background;
            }
        }
        .timeline-description {
            padding: 15px 15px 40px 60px;
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 200px;
        width: $timeline-line-thickness;
        background: $accent-shade;
        left: 45px;
    }
}

/*
* -- FOOTER --
*/
.footer {
    background-color: $accent-shade;
    color: $dark-background;
    text-align: center;
    padding: 30px 30px 10px;
    z-index: 5;
    h1 {
        font-family: $montserrat;
        font-weight: 100;
        font-size: 5em;
        margin: 0 auto;
        border-bottom: 2px solid #000;
    }
    h2 {
        font-weight: 100;
        font-size: 2em;
        margin: 0 0 20px;
    }
}

/*
* -- UTILS --
*/
.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.top-right {
    top: 20px;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
    z-index: 10;
    &:hover {
        color: $accent-color;
    }
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.mobile-only {
    display: inherit;
}
.desktop-only {
    display: none;
}



/*
* -- SMALL --
*/
@media screen and (min-width: 568px) {
    .landing-splash {        
        position: fixed;
        height: 100%;
        .frame {
            .info {
                div {
                    padding: 3em 40px 1em;
                }
            }
        }
    }
}

/*
* -- MEDIUM --
*/
@media screen and (min-width: 768px) {
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: inherit;
    }

    .list-content {
        #content {
            .grid {
                .question {
                    min-height: 300px;
                    padding: 30px;
                    &:nth-child(n) {
                        &:nth-child(6n - 11) {
                            background: adjust-color($secondary-accent-color, $alpha: -0.95);
                        }
                        &:nth-child(6n - 10) {
                            background: adjust-color($secondary-accent-color, $alpha: -0.9);
                        }
                        &:nth-child(6n - 9) {
                            background: adjust-color($secondary-accent-color, $alpha: -0.85);
                        }
                        &:nth-child(6n - 8) {
                            background: adjust-color($secondary-accent-color, $alpha: -0.8);
                        }
                        &:nth-child(6n - 7) {
                            background: adjust-color($secondary-accent-color, $alpha: -0.75);
                        }
                        &:nth-child(6n - 6) {
                            background: adjust-color($secondary-accent-color, $alpha: -0.7);
                        }
                    }
                }
            }
        }
    }

    #timeline {
        margin-bottom: 50px;
        .pure-g {
            .timeline-date {
                width: 50%;
                margin-left: 0;
                .timeline-icon {
                    width: 60px;
                    height: 60px;
                    background: $accent-color;
                    border-radius: 50%;
                    border: $timeline-line-thickness $accent-shade;
                    border-style: solid;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        max-width: 80%;
                        max-height: 80%;
                    }
                    &.him {
                        background: $him-color;
                    }
                    &.her {
                        background: $her-color;
                    }
                }
                h1 {
                    margin: 0;
                }
            }
            .timeline-description {
                padding: 80px 40px 0;
            }

            &:nth-child(odd) {
                .timeline-date {
                    margin-left: 50%;
                    transform: translateX(-30px);
                }
                .timeline-img {
                    padding-right: 40px;
                }
            }
            &:nth-child(even) {
                flex-flow: row-reverse;
                .timeline-date {
                    flex-flow: row-reverse;
                    margin-right: 50%;
                    transform: translateX(30px);
                    h1 {
                        padding-right: 10px;
                    }
                }
                .timeline-img {
                    padding-left: 40px;
                }
                h1 {
                    text-align: right;
                }
            }
        }
        &::before {
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }

    .footer {
        h1 {
            width: 8em;
        }
    }
}

/*
* -- LARGE --
*/
@media screen and (min-width: 1024px) {
    .landing-splash {
        h1 {
            font-size: 3em;
        }
    }

    .list-content {
        #content {
            .grid {
                width: 960px;
                .question {
                    padding: 60px;
                }
            }
        }
    }
}

/*
* -- EXTRA LARGE --
*/
@media screen and (min-width: 1536px) {
    .frame {
        width: 1536px;
    }
    #timeline {
        .pure-g {
            .timeline-date {
                width: 768px;
            }

            &:nth-child(odd) {
                .timeline-date {
                    margin-left: 768px;
                }
            }
            &:nth-child(even) {
                .timeline-date {
                    margin-right: 768px;
                    transform: translateX(30px);
                }
            }
        }
    }
}