{% capture page-name %}{{ page.name | remove:'.md' }}{% endcapture %}
<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include side-menu.html %}
        <section class="default-splash content-container" style="background-image: url('/assets/images/{{ page-name }}.jpg');">
            <h1>{{ page.title }}</h1>
        </section>
        <div class="default-content content-container">
            <section id="content">
                <h1>{{ page.subtitle }}</h1>
                <p class="description">{{ page.description }}</p>
                {{ content }}
            </section>
            {% include footer.html %}
        </div>
        {% include scripts.html %}
    </body>
</html>