<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include side-menu.html %}
    <div class="landing-splash content-container">
        {{ content }}
    </div>
    <div class="landing-content content-container">
        <div class="frame">
            <section id="timeline">
                {% unless site.data.timeline == null %}
                {% assign sortedTimeline = site.data.timeline | sort: 'date' %}
                {% for event in sortedTimeline %}
                {% assign protagonist = event.protagonist | slugify %}
                <div class="pure-g">
                    <div class="timeline-date">
                        <div class="timeline-icon {{protagonist}}">
                            <img class="pure-img" src="/assets/images/{{protagonist}}.svg">
                        </div>
                        <h1>{{ event.date | date_to_string }}</h1>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-2">
                        <img class="timeline-img pure-img" src="/assets/images/timeline/{{event.image}}">
                    </div>
                    <div class="pure-u-1 pure-u-md-1-2">
                        <div class="timeline-description">
                            <h2>{{ event.title }}</h2>
                            <p>{{ event.content | markdownify }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endunless %}
            </section>
        </div>
        {% include footer.html %}
    </div>
    {% include scripts.html %}
    <script>
        window.onresize = resizeSplash;

        function resizeSplash() {
            let landingSplash = document.querySelector('.landing-splash');

            let world = landingSplash.querySelector('svg');
            let title = landingSplash.querySelector('h1');
            let info = landingSplash.querySelector('.info');
            let maxHeight = window.innerHeight - title.clientHeight;
            if(info.clientWidth > info.clientHeight) {
                maxHeight -= info.clientHeight;
            }
            world.style.maxHeight = maxHeight + 'px';

            let landingContent = document.querySelector('.landing-content');
            landingContent.style.top = landingSplash.clientHeight + 'px';
        }

        animate();

        function animate() {
            let title = animateTitle(500);
            title.complete = function(anim) {
                resizeSplash();
                showWorld(0);
                let toVegas = animatePlanesToRosario(1000);
                toVegas.changeBegin = function(anim) {
                    animateCeremonyInfo(0);
                    animateReceptionInfo(1000);
                }
                toVegas.complete = function(anim) {
                    let toRosario = animatePlanesToVegas(500);
                    toRosario.changeBegin = function(anim) {
                        animateCivilInfo(0);
                    }
                }
            }
        }

        function showWorld(delay) {
            return anime({
                targets: '.world svg',
                opacity: 1,
                easing: 'easeInOutSine',
                delay: delay,
                duration: 400
            });
        }

        function animatePlanesToVegas(delay) {
            return animatePlanes('to-vegas', 'v', delay);
        }

        function animatePlanesToRosario(delay) {
            return animatePlanes('to-rosario', 'r', delay);
        }
        
        function animatePlanes(group, descriptor, initialDelay) {
            var timeline = anime.timeline({
                easing: 'easeInOutQuad'
            });

            let pathsCount = document.querySelectorAll('#' + group + ' path').length;
            let totalDuration = 0;
            let i;
            for (i = 0; i < pathsCount; i++) {
                let path = anime.path('#' + descriptor + i);
                let pathLength = path('x').totalLength;
                let element = document.getElementById('p' + i);

                let duration = pathLength * 15;
                let delay = initialDelay + totalDuration * 0.3;
                
                timeline.add({
                    targets: element,
                    translateX: path('x'),
                    translateY: path('y'),
                    rotate: path('angle'),
                    easing: 'easeInOutQuad',
                    duration: duration,
                    changeBegin: function(anim) {
                        element.style.visibility = "visible";
                    },
                    changeComplete: function(anim) {
                        element.style.visibility = "hidden";
                    },
                    change: function(anim) {
                        var t = anim.currentTime / anim.duration;
                        var scale = Math.sin(t * Math.PI) * 0.5 + 0.7;
                        element.firstElementChild.style.transform = 'scale( ' + scale + ')';
                    }
                }, delay);

                totalDuration += duration;
            }

            return timeline;
        }

        function animateCivilInfo(delay) {
            return animateInfo('civil', delay)
        }

        function animateCeremonyInfo(delay) {
            return animateInfo('ceremony', delay)
        }

        function animateReceptionInfo(delay) {
            return animateInfo('reception', delay)
        }

        function animateInfo(descriptor, delay) {
            return anime({
                targets: '.info #' + descriptor,
                translateX: [50, 0],
                opacity: 1,
                easing: 'easeInOutSine',
                delay: delay
            });
        }

        function animateTitle(delay) {
            let element = document.getElementById('title-span');

            var timeline = anime.timeline();

            timeline.add({
                targets: element,
                fontWeight: 600,
                duration: 500,
                easing: 'easeInSine',
                changeComplete: function(anim) {
                    element.innerHTML = "Hughes";
                },
            }, delay);
            timeline.add({
                targets: element,
                fontSize: ['100%', '135%'],
                color: '#e6d9c1',
                rotate: -5,
                easing: 'easeOutBounce',
                duration: 1500
            }, delay);

            return timeline;
        }
    </script>
</body>

</html>