{% capture page-name %}{{ page.name | remove:'.md' }}{% endcapture %}

<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include side-menu.html %}
        <section class="list-splash content-container" style="background: url('/assets/images/{{ page-name }}.jpg');">
            <h1>{{ page.title }}</h1>
        </section>
        <div class="list-content content-container">
            <section id="content">
                <h1>{{ page.subtitle }}</h1>
                <p class="description">{{ page.description }}</p>
                <div class="grid pure-g">
                    {% for item in site.data[page-name] %}
                        <div class="question pure-u-1 pure-u-md-1-2">
                            <h1>{{ item.title }}</h1>
                            <p>{{ item.content }}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
            {% include footer.html %}
        </div>
        {% include scripts.html %}
    </body>
</html>